target/*
**/target/*
**/eclipse/*
**/bin/*
**/lib/*
**/tmp/*
**/*.classpath
**/*.project
**/*.settings/*
**/*.iml
**/*.ipr
**/*test-result*
**/*junit-result*
**/*emma-result*
**/*conf/*
**/*log/*
**/*foobar/*
**/velocity.log
.classpath
.project
.settings
target/
target/**/*
preference.xml 
*.iml
.idea
